@use "./formulario.scss";
@use "./nota.scss";

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .cont-regis {
        background-color: white;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        width: 100%;
        max-width: 50vh;

        &>section {
            display: none;
            flex-direction: column;
            align-items: center;
            padding: 4vh;
            width: 100%;

            h2 {
                text-align: center;
                font-size: 3vh;
                margin-bottom: 1vh;
            }

            form {
                @extend %formulario;
            }

        }

        a {
            font-size: 3vh;
            align-self: center;
            margin-top: auto;
            color: dodgerblue;
            text-decoration: underline;
        }
    }

    .cont-notes {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: calc(100% - (var(--header-height)));
        margin-top: calc(var(--header-height) * 1);
        overflow-y: auto;
        display: none;

        form {
            @extend %formulario;
            margin-top: calc(var(--header-height) * 0.5);
            width: 80%;
            max-width: 80vh;
            background-color: white;
            padding: 2vh 5vh;
            border-radius: 20px;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);

            &>h2{
                font-size: 3vh;
                margin-bottom: 1vh;
                text-align: center;
            }
        }

        select {
            font-size: 3vh;
            align-self: flex-end;
            font-weight: bold;
            background-color: transparent;
            border: none;

            &:focus {
                outline: none;
            }
        }

        .cont-categorias {
            display: grid;
            width: 100%;
            grid-template-columns: 2fr 1fr 2fr;
            align-items: center;
            justify-items: center;
            margin-top: 4vh;

            hr {
                border: 0.5px solid black;
                width: 100%;
            }
        }

        .notes {
            @extend %nota;
        }
    }
    .modal-datos, .modal-notas, .modal-image {
        background-color: rgba(0, 0, 0, 0.5);
        width: 100vw;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: visible;
        transition: background-color 0.3s ease;

        .cont-modal {
            display: flex;
            flex-direction: column;
            max-width: 50vh;
            background-color: white;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
            border-radius: 20px;
            padding: 4vh;
            align-items: center;
            transition: transform 0.3s ease;
            transform: scaleY(1);
            
            form {
                @extend %formulario;
            }
        }
        
        &.modal-hidden {
            background-color: transparent;
            visibility: hidden;
            transition: background-color 0.3s ease, visibility 0s 0.3s;
            
            .cont-modal {
                transform: scaleY(0);
            }
        }
    }
}